[defaults]
host_key_checking = False
remote_user = root
deprecation_warnings = False
inventory = dynamic_inventory.py

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
