[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=extensions/cpp/ibkr_fix/config/FIX42-IBKR.xml
ValidateUserDefinedFields=N
StripUserDefinedFields=N

# Session for IBKR Gateway
[SESSION]
BeginString=FIX.4.2
SenderCompID=${IBKR_USERNAME}
TargetCompID=IB
SocketConnectHost=${IBKR_GATEWAY_HOST}
SocketConnectPort=${IBKR_GATEWAY_PORT}
HeartBtInt=30
ResetOnLogon=Y
